* {
    padding: 0;
    margin: 0;
}

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cfd0d1;
    margin: 0;
    border-bottom: darkorange 10px solid;
}

#main-nav img {
    padding: 0;
    margin-right: 0;
    height: 200px;
}

#search-bar {
    text-align: center;
    background: #cfd0d1;
    color: #f0f4fa;
    border-bottom: #f0f4fa, 2px, solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: 0.5rem;
    width: 100%;
}

#navbar {
    display: flex;
    text-emphasis: none;
    justify-content: center;
    padding-bottom: 1rem;
}

#navbar a {
    text-decoration: none;
    background: brown;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 15px;
}

#navbar a li {
    list-style: none;
}

#home-content {
    display: flex;
    background: black;
    width: 100%;
    justify-content: space-between;
}

#home-content h1 {
    color: darkorange;
}

#video-content {
    background: black;
    align-self: center;
}

#video-content iframe {
    padding-left: 1rem;
}

#side-content {
    display: grid;
    background: darkgrey;
}

#feed,
#status {
    margin: 1rem;
}

/* Footer */
.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #cfd0d1;
}